<tr id="delivery-<%= delivery.id %>">
	<td><%= delivery.postal_code %></td>
	<td><%= delivery.address %></td>
	<td><%= delivery.name %></td>
	<td>
		<%= link_to "編集する", edit_delivery_path(delivery), data: {turbolinks: false}, class: "btn btn-primary ", :style => "margin-right: 10px;" %>
		<%= link_to "削除する", delivery_path(delivery), method: :delete, remote: true, class: "btn btn-danger" %>
	</td>
</tr>