<div class='row' style="padding: 50px 15px;">
  <div class='col-sm-3'>
   <%= render 'customers/products/category', categories: @categories %>
  </div>
  <div class='col-sm-9'>
    <div class="row">
     <div class="theTarget">
      <div class="jumbotron"  style="background-image: url(<%= asset_path "topimage.jpg" %>); background-size:cover;">
       <p class="text-left" style="padding: 5px 15px; color: white;">
        ようこそ、NaganoCakeへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
       </p>
      </div>
      <div class="jumbotron" style="background-image: url(<%= asset_path "top.jpg" %>); background-size:cover;"></div>
      <div class="jumbotron" style="background-image: url(<%= asset_path "top2.jpg" %>); background-size:cover;"></div>
      <div class="jumbotron" style="background-image: url(<%= asset_path "top3.jpg" %>); background-size:cover;"></div>
     </div>
    </div>
    <h2>オススメ人気商品</h2>

    <div class='row'>
     <% i = 0 %>
      <% @products.each do |product| %>
        <% if product.category.status == "有効" %>
          <div class='col-sm-3'>
            <tr>
              <%= link_to product_path(product.id) do %>
              <td><%= attachment_image_tag product, :image, :fill, 180, 180, format: 'jpeg', fallback: "no_image.jpg", size: '180x180' %><td>
              <td><p style="color: black;"><%= product.name %></p></td>
              <td><p style="color: #eb2142;">¥<%= product.non_tax_price.to_s(:delimited) %><p></td>
              <% end %>
            </tr>
          </div>
          <% i += 1 %>
          <% if i > 3 %>
            <% break %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class='row text-right'>
      <%= link_to products_path do %>
      <strong style="color: black;">もっと見る▶︎</strong>
     <% end %>
   </div>
  </div>
</div>
<script src="assets/jquery.min.js"></script>
<script src="assets/skippr.min.js"></script>
<script src="assets/script.js"></script>
<link rel="stylesheet" href="assets/skippr.css">
<link rel="stylesheet" href="assets/style.css">

