<h3 class="text-center" style="width: 200px; margin: 30px 0 30px 100px; background-color: lightgray;">登録情報編集</h3>
<%= form_with model: @customer, url: customers_update_path, local: true do |f| %>

<%= render "customers/shared/error_messages", resource: @customer %>

<table class="table" style="max-width: 800px">

  <tr>
    <td style="border-style: none;">名前</td>
    <td style="border-style: none;">
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control" %>
    </td>
    <td style="border-style: none;">
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control" %>
    </td>
  </tr>

  <tr>
    <td style="border-style: none;">フリガナ</td>
    <td style="border-style: none;">
      <%= f.text_field :read_last_name, autofocus: true, autocomplete: "read_last_name", class: "form-control" %>
    </td>
    <td style="border-style: none;">
      <%= f.text_field :read_first_name, autofocus: true, autocomplete: "read_first_name", class: "form-control" %>
    </td>
  </tr>

  <tr>
    <td style="border-style: none;">メールアドレス</td>
    <td style="border-style: none;">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </td>
    <td style="border-style: none;"></td>
  </tr>

  <tr>
    <td style="border-style: none;">郵便番号（ハイフンなし）</td>
    <td style="border-style: none;">
      <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "form-control", id: "address_zipcode" %>
    </td>
    <td style="border-style: none;"></td>
  </tr>

  <tr>
    <td style="border-style: none;">住所</td>
    <td colspan="2"  style="border-style: none;">
      <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control", id: "address" %>
    </td>
  </tr>

  <tr>
    <td style="border-style: none;">電話番号（ハイフンなし）</td>
    <td style="border-style: none;">
      <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control" %>
    </td>
    <td style="border-style: none;"></td>
  </tr>

  <tr>
    <td style="border-style: none;"></td>
    <td style="border-style: none;"><%= f.submit "編集内容を保存する", class: "btn btn-primary" %></td>
    <td class="text-right" style="border-style: none;"><%= link_to "退会する", customers_retire_path, class: "btn btn-danger" %></td>
  </tr>

</table>
<% end %>



