<div class="row", style="padding: 100px 15px;">
 <div class="col-xs-12" style="text-align: left;">
  <h3><strong>会員編集画面</strong></h3>
  <%= form_with model: [:admins, @customer] do |f| %>
   <table>
    <tr>
	 <th>顧客ID</th>
	 <td><%= @customer.id %></td>
	</tr>
	<tr>
	 <th>氏名</th>
	 <td><%= f.text_field :last_name %>　<%= f.text_field :first_name %></td>
	</tr>
	<tr>
	 <th>フリガナ</th>
	 <td><%= f.text_field :read_last_name %>　<%= f.text_field :read_first_name %></td>
	</tr>
	<tr>
	 <th>郵便番号</th>
	 <td><%= f.text_field :postal_code %></td>
	</tr>
	<tr>
	 <th>住所</th>
	 <td><%= f.text_field :address %></td>
	</tr>
	<tr>
	 <th>電話番号</th>
	 <td><%= f.text_field :phone_number %></td>
	</tr>
	<tr>
	 <th>メールアドレス</th>
	 <td><%= f.text_field :email %></td>
	</tr>
	<tr>
	 <th>会員ステータス</th>
	 <td>
       <%= f.radio_button :status, :有効 %>
	   <%= f.label :gender, "有効", {value: :有効, style: "display: inline-block;"} %>
	   <%= f.radio_button :status, :退会済 %>
	   <%= f.label :gender, "退会済", {value: :退会済, style: "display: inline-block;"} %>
	 </td>
	</tr>
	<tr>
	 <th><%= f.submit('変更を保存',class: 'btn btn-primary btn-md') %></th>
	</tr>
	<% end %>
  </table>
 </div>
</div>


