<div class="row">
 <div class="col-xs-12" style="text-align: left;">
  <h3><strong>会員編集画面</strong></h3>
  <%= form_with model: [:admins, @customer] do |f| %>
   <table class="table" style="width: 50%; margin: 20px 0 0 20px;">
    <tr>
	 <th style="border: none; width: 5%">会員ID</th>
	 <td style="border: none; width: 15%"><%= @customer.id %></td>
	 <td style="border: none; width: 15%"></td>
	 <td style="border: none; width: 15%"></td>
	</tr>
	<tr>
	 <th style="border: none;">氏名</th>
	 <td style="border: none;"><%= f.text_field :last_name, class: "form-control" %></td>
	 <td style="border: none;"><%= f.text_field :first_name, class: "form-control" %></td>
	</tr>
	<tr>
	 <th style="border: none;">フリガナ</th>
	 <td style="border: none;"><%= f.text_field :read_last_name, class: "form-control" %></td>
	 <td style="border: none;"><%= f.text_field :read_first_name, class: "form-control" %></td>
	</tr>
	<tr>
	 <th style="border: none;">郵便番号</th>
	 <td style="border: none;"><%= f.text_field :postal_code, class: "form-control" %></td>
	</tr>
	<tr>
	 <th style="border: none;">住所</th>
	 <td style="border: none;" colspan="3"><%= f.text_field :address, class: "form-control" %></td>
	</tr>
	<tr>
	 <th style="border: none;">電話番号</th>
	 <td style="border: none;" colspan="2"><%= f.text_field :phone_number, class: "form-control" %></td>
	</tr>
	<tr>
	 <th style="border: none;">メールアドレス</th>
	 <td style="border: none;" colspan="2"><%= f.text_field :email, class: "form-control" %></td>
	</tr>
	<tr>
	 <th style="border: none;">会員ステータス</th>
	 <td style="border: none;">
       <%= f.radio_button :status, :有効 %>
	   <%= f.label :gender, "有効", {value: :有効, style: "display: inline-block;"} %>
	   <%= f.radio_button :status, :退会済 %>
	   <%= f.label :gender, "退会済", {value: :退会済, style: "display: inline-block;"} %>
	 </td>
	</tr>
	<tr>
	 <th style="border: none;"><%= f.submit('変更を保存する',class: 'btn btn-primary btn-md') %></th>
	</tr>
	<% end %>
  </table>
 </div>
</div>


