<div class='row', style="padding: 100px 15px;">
	<div class='col-xs-3'>
		<% @categories.each do |category| %>
			<tr>
				<td>
				  <%= link_to products_path(category_id:category.id) do %>
					<%= category.name %><br>
				  <% end %>
				</td>
			</tr>
		<% end %>
	</div>
	<div class='col-xs-9'>
	  <h2>商品一覧</h2>
		<% @products.each do |product| %>
			<tr>
			  <%= link_to product_path(product.id) do %>
				<td><%= attachment_image_tag product, :image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", size: '180x180' %><td>
				<td><%= product.name %></td>
				<td>¥<%= product.non_tax_price %></td>
			  <% end %>
			</tr>
		<% end %>
		<%= paginate @products, class: "paginate" %>
	</div>
</div>