<%= stylesheet_link_tag "admins/products", :media => "all" %>

<div class="row">
	<div class="col-xs-12">
		<h3><strong>商品 編集画面</strong></h3>
	</div>
</div>

<div class="row">
	<div class="col-xs-4" style="text-align: center;">
		<%= form_with model: [:admins, @product] do |f| %>
			<p><%= attachment_image_tag @product, :image, :fill, 250, 150, fallback: 'image.jpg', size: '250x150' %></p>
			<p><label class="btn btn-primary btn-md">画像選択
			<%= f.attachment_field :image, style: "display:none;" %></label></p>
	</div>

	<div class="col-xs-8">
		<p>商品名　<%= f.text_field :name %></p>
		<p>商品説明　<%= f.text_area :description %></p>
		<p>ジャンル　<%= f.collection_select :category_id, Category.where(status: "有効"), :id, :name %></p>
		<p>税抜価格　<%= f.text_field :non_tax_price %> 円</p>
		<p>販売ステータス　<%= f.select :status, [["販売中","販売中"],["売切れ","売切れ"]] %></p>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<p style="text-align: right; padding-right: 100px;">
			<%= f.submit('変更を保存',class: 'btn btn-primary btn-md') %>
		</p>
		<% end %>
	</div>
</div>

