<div class="row">
	<div class="col-xs-12">
		<h3><strong>商品 新規登録画面</strong></h3>
	</div>
</div>

<%= form_with model: [:admins, @product] do |f| %>

	<div class="row" style="margin-top: 70px;">
		<div class="col-xs-4" style="text-align: center;">
			<p><%= attachment_image_tag @product, :image, :fill, 80, 80, fallback: 'image.jpg', size: '250x150', id: "img_prev"%></p>
			<p><label class="btn btn-info btn-md" style="width: 150px;">画像選択
			<%= f.attachment_field :image, style: "display:none;", id: "product_img" %></label></p>

		</div>

		<div class="col-xs-8">
			<table class="table" style="width: 60%;">
				<tr>
					<th style="border: none;">商品名</th>
					<td style="border: none;"><%= f.text_field :name, class: "form-control" %></td>
				</tr>
				<tr>
					<th style="border: none;">商品説明</th>
					<td style="border: none;"><%= f.text_area :description, class: "form-control", style: "height:100px;" %></td>
				</tr>
				<tr>
					<th style="border: none;">ジャンル</th>
					<td style="border: none;"><%= f.collection_select :category_id, Category.where(status: "有効"), :id, :name, {include_blank: "--選択してください--"}, { class: "form-control" } %>
					</td>
				</tr>
				<tr>
					<th style="border: none;">税抜価格</th>
					<td style="border: none;"><%= f.text_field :non_tax_price, class: "form-control" %></td>
					<td style="border: none; padding-top: 25px;">円</td>
				</tr>
				<tr>
					<th style="border: none;">販売</br>ステータス</th>
					<td style="border: none;"><%= f.select :status, [["販売中","販売中"],["売切れ","売切れ"]], {include_blank: "--選択してください--"}, { class: "form-control" } %>
					</td>
				</tr>
			</table>
		</div>

	</div>

	<div class="row">
		<div class="col-xs-12">
			<p style="text-align: right; padding-right: 100px;">
				<%= f.submit('新規登録',class: 'btn btn-info btn-md', style: 'width: 150px; height: 50px;') %>
			</p>
		</div>
	</div>
<% end %>

<script type="text/javascript">
  $(function() {
    function readURL(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
    $('#img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        }
    }
    $("#product_img").change(function(){
        readURL(this);
    });
  });
</script>