<%= stylesheet_link_tag "admins/products", :media => "all" %>

<div class="row">
	<div class="col-xs-12">
		<h3><strong>商品 新規登録画面</strong></h3>
	</div>
</div>

<%= form_with model: [:admins, @product] do |f| %>

	<div class="row">
		<div class="col-xs-4" style="text-align: center;">
			<p><%= attachment_image_tag @product, :image, :fill, 80, 80, fallback: 'image.jpg', size: '250x150' %></p>
			<p><label class="btn btn-primary btn-md">画像選択
			<%= f.attachment_field :image, style: "display:none;" %></label></p> <!-- CSSでファイル選択ボタンの文字変更 -->
		</div>

		<div class="col-xs-8">
			<table>
					<tr class="form-group">
						<th>商品名</th>
						<td><%= f.text_field :name, class: "form-control" %></td>
					</tr>
					<tr class="form-group">
						<th>商品説明</th>
						<td><%= f.text_area :description, class: "form-control" %></td>
					</tr>
					<tr>
						<th>ジャンル</th>
						<td><%= f.collection_select :category_id, Category.where(status: "有効"), :id, :name, include_blank: "--選択してください--", class: "form-control" %>
						</td>
					</tr>
					<tr>
						<th>税抜価格</th>
						<td><%= f.text_field :non_tax_price, class: "form-control" %> 円</td>
					</tr>
					<tr>
						<th>販売</br>ステータス</th>
						<td><%= f.select :status, [["販売中","販売中"],["売切れ","売切れ"]], class: "form-control" %>
						</td>
					</tr>
			</table>
		</div>

	</div>

	<div class="row">
		<div class="col-xs-12">
			<p style="text-align: right; padding-right: 100px;">
				<%= f.submit('新規登録',class: 'btn btn-primary btn-md') %>
			</p>
		</div>
	</div>
<% end %>