<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if current_page?(new_admin_session_path) %>

      <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #ffb6c1; border-style: none;">
        <div class="container-fluid" style="box-shadow: 0px 10px 15px -15px gray">
          <div class="navbar-header">
            <%= link_to "ながのCAKE", new_admin_session_path, class: "navbar-brand navbar-left" %>
          </div>
        </div>
      </nav>

    <% else %>

      <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #ffb6c1; border-style: none;">
        <div class="container-fluid" style="box-shadow: 0px 10px 15px -15px gray">
          <div class="navbar-header">
            <% if admin_signed_in? %>
              <%= link_to "ながのCAKE", admins_home_top_path, class: "navbar-brand navbar-left" %>
            <% else %>
              <%= link_to "ながのCAKE", root_path, class: "navbar-brand navbar-left" %>
            <% end %>
          </div>

          <% if customer_signed_in? %>
            <%= form_with url: search_path, method: :get, local: true, class: "navbar-form navbar-left" do |f| %>
              <%= f.text_field :keyword, class: "form-control", :style => "width: 500px;", placeholder: "商品検索キーワード" %>
              <%= button_tag :type => "submit", class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              <% end %>
            <% end %>
          <% elsif admin_signed_in? %>
            <%= form_with url: admins_search_path, method: :get, local: true, class: "navbar-form navbar-left" do |f| %>
              <%= f.select :method, [["会員", "customer"],["商品", "product"]], {}, { class: "form-control" } %>
              <%= f.text_field :keyword, class: "form-control", :style => "width: 500px;", placeholder: "検索キーワード" %>
              <%= button_tag :type => "submit", class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              <% end %>
            <% end %>
          <% end %>

          <ul class="nav navbar-nav navbar-right">
            <% if customer_signed_in? %>
               <li><%= link_to 'マイページ',customers_path %></li>
               <li><%= link_to '商品一覧', products_path %></li>
               <li><%= link_to 'カート', cart_items_path %></li>
            <% elsif admin_signed_in? %>
               <li><%= link_to '商品一覧', admins_products_path %></li>
               <li><%= link_to '会員一覧',  admins_customers_path %></li>
               <li><%= link_to '注文履歴一覧', admins_orders_path %></li>
               <li><%= link_to 'ジャンル管理', admins_categories_path %></li>
            <% else %>
               <li><%= link_to '商品一覧', products_path %></li>
               <li><%= link_to '新規登録', new_customer_registration_path, data: { turbolinks: false } %></li>
            <% end %>
          </ul>
          <% if customer_signed_in? %>
            <p class="navbar-text">ようこそ、<%= current_customer.last_name + current_customer.first_name %>さん！</p>
            <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "btn btn-primary navbar-btn navbar-right" %>
          <% elsif admin_signed_in? %>
            <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "btn btn-primary navbar-btn navbar-right" %>
          <% else %>
            <%= link_to 'ログイン', new_customer_session_path, class: "btn btn-success navbar-btn navbar-right" %>
          <% end %>
        </div>
      </nav>
    <% end %>

    <div class="container" style="margin-top: 60px;">
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </div>
  </body>
</html>